.background-red{
    background-color: red;

}
.background-orange{
    background-color: orange;
}
.background-blue{
    background-color: dodgerblue;
}

.background-yellow{
    background-color: yellow;
}
.background-green{
    background-color: green;
}

.flex-right{
    align-self: flex-end;
}
.single-stat{
    border-radius: 20px;
    padding: 20px;
}